#container  {
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    aspect-ratio: 1/1;
    width: 75vh;
    border: solid 1px black;
    
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1500%;
    border: solid 1px black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
height:100vh;    

}
.cssisbad{
    line-height: 0;
}